html, body, .container {
    font-family: Input, monospace;
    background-color: #1a1a1a;
    color: #ccc;
}

code, kbd, pre, samp {
    font-family: Input, monospace;
}

h1, h2, h3 {
    font-family: Input, monospace;
    font-weight: 500;
    color: #b1d83d;
}

a {
    color: #b1d83d;
    text-decoration: none;
}

a:hover {
    color: #d1ff48;
    text-decoration: none;
}

table > thead > tr > td {
    /* Remove border line from thead of all tables */
    /* It can overlap with other element styles */
    border-top: none !important;
}

#score-graph {
    height: 450px;
    display: block;
    clear: both;
}

.fa-spin.spinner {
    margin-top: 225px;
    text-align: center;
    opacity: 0.5;
}

.spinner-error {
    padding-top: 20vh;
    text-align: center;
    opacity: 0.5;
}

.jumbotron {
    background-color: transparent;
    color: inherit;
    border-radius: 0;
    text-align: center;
}

.form-control {
    position: relative;
    display: block;
    padding: 0.8em;
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    font-weight: 400;
    font-family: Input, monospace;
    -webkit-appearance: none;
}

.form-control:focus {
    color: #ccc;
    background-color: transparent;
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.2rem #a3d39c;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-valid {
    background-color: transparent;
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.2rem #a3d39c;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-invalid {
    background-color: transparent;
    border-color: #d46767;
    box-shadow: 0 0 0 0.2rem #d46767;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #545454;
    border-color: #545454;
    border: 3px solid;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn {
    letter-spacing: 1px;
    text-decoration: none;
    -moz-user-select: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
}

.btn-info {
    background-color: #5B7290 !important;
    border-color: #5B7290 !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.alert {
    border-radius: 0 !important;
    padding: 0.8em;
}

.btn-fa {
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

select.form-control {
    height: auto !important;
}

.card {
    border-radius: 0 !important;
}

.modal-content {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.card-body {
    background-color: #393939;
}

.modal-content {
    background-color: #1a1a1a;
    color: #ccc;
}

.modal-content button.close {
    color: #fff;
}

a.nav-link[href="/users"], a.nav-link[href="/teams"] {
    display: none;
}
