#challenges-board h3 {
    font-size: 24px;
}

.chal-desc {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.chal-desc img {
    max-width: 100%;
    height: auto;
}

.modal-content {
    border-radius: 0px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

.btn-info {
    background-color: #5B7290 !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.challenge-button {
    background: transparent;
    border: none;
    letter-spacing: 0px;
    padding: 0 !important;
    margin-bottom: 0 !important;
    font-size: 18px;
    line-height: 1;
}

.challenge-button > p {
    display: inline;
    margin: 0;
}

.challenge-button > span {
    opacity: 0.8;
}

.challenge-button > span::before {
    content: " (";
}

.challenge-button > span::after {
    content: ")";
}

.challenge-wrap {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 20px;
    overflow: visible;
}

.challenge-wrap > button > p::before {
    content: "├── ";
}

.challenge-wrap:last-child > button > p::before {
    content: "└── ";
}

.solved-challenge {
    background-color: transparent;
    color: #22bd48;
    border: none;
}

.solved-challenge > span {
    opacity: 1;
}

.solved-challenge::after {
    content: " \f00c";
    font-family: 'Font Awesome 5 Free','Font Awesome 5 Free Offline';
    font-size: 90%;
}

.key-submit .btn {
    height: 51px;
}

#challenge-window .nav-link {
    color: #ccc;
    background-color: transparent;
    border: none;
    font-weight: 400;
}

#challenge-window .nav-link.active {
    color: #b1d83d;
    background-color: transparent;
    border: none;
    font-weight: 700;
}

.challenges-row {
    padding-bottom: 10px;
}

#challenge-window pre {
    color: #ccc;
    padding-left: 4ex;          /* like markdown */
}
